@model AppWeb.Models.HomeModels
@{
    ViewBag.Title = "Home page";
}

<div class="jumbotron">
    <h1>Welcome to Glisshop.com</h1>
</div>

<h2>Liste des produits</h2>
<table class="table table-striped" id="listOfProducts">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Label</th>
            <th scope="col">Price</th>
            <th scope="col">Stock</th>
            <th scope="col">Description</th>
            <th scope="col">Categorie</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var prod in @Model.Products)
        {
            <tr class="ProductRow">
                <th scope="row">@prod.ProductCode</th>
                <td id="productLabel" value="@prod.ProductLabel">@prod.ProductLabel</td>
                <td>@prod.ProductPrice</td>
                <td>@prod.ProductStock</td>
                <td>@prod.ProductDescription</td>
                <td>@prod.ProductCategorieId</td>
            </tr>
        }
    </tbody>
</table>

<h2>Liste des 5 dernieres commandes</h2>
<table class="table table-striped">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Date</th>
            <th scope="col">Observation</th>
            <th scope="col">Status</th>
            <th scope="col">Client</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var ord in @Model.Orders)
        {
            <tr class="ProductRow">
                <th scope="row">@ord.OrderId</th>
                <td>@ord.OrderDate</td>
                <td>@ord.OrderObservation</td>
                <td>@ord.OrderStatusEntityId</td>
                <td>@ord.OrderClientEntityId</td>
            </tr>
        }
    </tbody>
</table>