@model AppWeb.Models.ProduitModels
@{
    ViewBag.Title = "Add a products";
}
<h2>@ViewBag.Title</h2>

@using (Html.BeginForm("Create", "Product", FormMethod.Post))
{
    @Html.ValidationSummary(true, "Echec de la création du produit")
    <div class="form-group">
        <label class="col-sm-2 control-label">Code</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.ProductCode, new { @class = "form-control" })
        </div>
    </div><br />
    <div class="form-group">
        <label class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.ProductLabel, new { @class = "form-control" })
        </div>
    </div><br />
    <div class="form-group">
        <label class="col-sm-2 control-label">Price</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.ProductPrice, new { @class = "form-control" })
        </div>
    </div><br />
    <div class="form-group">
        <label class="col-sm-2 control-label">Stock</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.ProductStock, new { @class = "form-control" })
        </div>
    </div><br />
    <div class="form-group">
        <label class="col-sm-2 control-label">Description</label>
        <div class="col-sm-10">
            @Html.TextBoxFor(m => m.ProductDescription, new { @class = "form-control" })
        </div>
    </div><br />
    <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
            @Html.TextBoxFor(m => m.ProductId, new { @class = "hidden" })
            <input type="submit" class="btn btn-default" value="Ajouter" />
        </div>
    </div>
}